.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 300px;
  height: 450px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 200px;
}

.card h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card p {
  flex-grow: 1;
  margin-bottom: 15px;
}

.card a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  align-self: flex-end;
}

.card a:hover {
  text-decoration: underline;
}
