/* General Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 2rem;
  height: 10vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4579da;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: #2c5ac3;
}

ul {
  display: flex;
  gap: 2.5rem;
  list-style-type: none;
}

li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

li a:hover {
  color: #4579da;
}

li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #4579da;
  transition: width 0.5s;
  margin: 1px auto;
}

li a:hover::after {
  width: 100%;
}

.menu-icon {
  font-size: 1.8rem;
  color: #333;
  cursor: pointer;
  display: none;
  transition: color 0.3s ease;
}

.menu-icon:hover {
  color: #4579da;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: -4px 0 5px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .menu-icon {
    display: block;
  }

  ul {
    display: none;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

/* Tablet Styles */
@media (max-width: 425px) {
  nav {
    padding-inline: 1.5rem;
  }
  .logo a {
    font-size: 1.6rem;
  }
  .menu-icon {
    font-size: 2rem;
  }
}
